[Desktop Entry]
Name=Signal (with DevTools)
Exec=/opt/Signal/signal-desktop --enable-dev-tools --no-sandbox %U
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=Signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;